@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --accent-color: #ff3e3e; /* Rojo Neón */
  --velvet-gradient: linear-gradient(45deg, #ff3e3e, #7a0000);
  --gold-color: #d4af37;
}
/* estilos generales */

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

section{
  scroll-margin-top: 80px;
}

/* estilos del navbar */
.brand-font {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 3px;
}
.navbar-dark-new {
  background-color: rgba(0, 0, 0, 0.95);
}
.navbar-brand {
  background: var(--velvet-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* estilos del carousel principal */
/* .img-banner {
  height: 80vh;
  object-fit: cover;
} */

#carouselMovies .carousel-item {
  height: 80vh;
  position: relative;
  img {
    height: 100%;
    object-fit: cover;
  }
}

#carouselMovies .carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 35%,
    rgba(0, 0, 0, 0.953) 100%
  );
  z-index: 1; 
}

#carouselMovies .carousel-caption {
  z-index: 2;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.btn-velvet {
  background: var(--velvet-gradient);
  border: none;
  /* todo: efectos para el boton */
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.btn-velvet:hover {
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(255, 62, 62, 0.4);
}

.section-title {
  font-size: 3.5rem;
}

/* todo: efectos para las cards de la cartelera */
.movie-card {
  background-color: #111;
  transition: all 0.4s ease; /* Transición suave para el efecto */
  overflow: hidden;
}

.movie-card:hover {
  transform: translateY(-15px); 
  box-shadow: 0 15px 40px rgba(255, 62, 62, 0.5); 
  border: 1px solid rgba(255, 62, 62, 0.3);
}


/* seccion candy */
.price-tag {
  font-family: "Bebas Neue", sans-serif;
  color: var(--gold-color);
  font-size: 1.8rem;
}

#candy {
  .btn-velvet {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
}

.candy-img{
  height: 365px;
  object-fit: cover;
}